/* UI */

.LcOverview__NavBarSlot-sc-1epub3v-3 {
   top: 6.6rem;
   left: 0;
   right: 0.5rem;
}

.lpjjXv {
   background-color: rgba(22, 22, 22, 0.726);
   border: 1px solid rgba(22, 22, 22, 0.726);
   border-radius: 0.5rem;
}

/* Patch Notes */

.article-scrollable-body {
   padding: 1rem;
}

.lcu-article-container .article-scrollable-body {
   display: flex !important;
   width: 100%;
   text-align: center;
   justify-content: center;
   align-content: center;
}

:root {
   /* colors from the design teams color palette
    (https://drive.google.com/a/riotgames.com/file/d/0B60pTfUcbFfCUVAtQWF5WGVKVTA) */
   --color-gold1: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-gold2: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-gold3: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-gold4: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-gold5: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-gold6: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-gold7: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);

   --color-blue1: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-blue2: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-blue3: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-blue4: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-blue5: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%) c;
   --color-blue6: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);
   --color-grey-blue: hsl(216, calc(var(--saturation-factor, 1) * 9.8%), 90%);

   --color-frame-grey: #1e282d;
   --color-gold-grey: #3c3732; /* This does not match the pallet, is the pallet outdated or was CSS Libs wrong? */
   --color-grey1: #a09b8c;
   --color-grey1_5: #5b5a56; /* This does not exist in the pallet, should it stay? */
   --color-grey2: #3c3c41;
   --color-grey3: #1e2328; /* This does not match the pallet, is the pallet outdated or was CSS Libs wrong? */
   --color-grey-disabled: hsl(
      120,
      calc(var(--saturation-factor, 1) * 9.8%),
      90%
   ); /* This does not exist in the pallet, should it stay? */

   --color-ip: #1e825a;
   --color-ip2: #00a741; /* This does not exist in the pallet, should it stay? */
   --color-experience: #643c5a;
   --color-paladin: #0a96aa;
   --color-paladin2: #0acbe6; /* This does not exist in the pallet, should it stay? */
   --color-mage: #be1e37;
   --color-mage2: #ff2345; /* This does not exist in the pallet, should it stay? */
   --color-me: #e6225d;

   --color-almost-black: #010a13;
}
