/* meow */


/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


* {

    font-family: 'Dosis', sans-serif !important; 

}

/* UI */


.rcp-fe-lol-home-sub-nav {

    left: 19rem !important;

}

.LcOverview__NavBarSlot-sc-1epub3v-3 {

    top: 6.6rem;
    left: 0;
    right: 0.5rem;

}

.lpjjXv {

    background-color: rgba(22, 22, 22, 0.726);
    border: 1px solid rgba(22, 22, 22, 0.726);
    border-radius: 0.5rem;

}

/* Patch Notes */

.article-scrollable-body {

    padding: 1rem;

}

.lcu-article-container .article-scrollable-body {

    display: flex !important;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;

}

/* Backgrounds */

.bKpFom {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.parties-view
{
    background: url(https://i.imgur.com/FTQM8n3.png) !important;
}
.parties-view .parties-background {
    opacity:0;
}
.collections-application{
    background: url(https://i.imgur.com/FTQM8n3.png) !important;
}

.lol-uikit-dialog-frame {

    background-color: rgba(22, 22, 22, 0.726);
    border: 1px solid rgba(22, 22, 22, 0.726);
    border-radius: 0.5rem;


}

.loot-backdrop .lol-uikit-video-content{
    background: url(https://i.imgur.com/FTQM8n3.png) !important;    
    display: block;   
    box-sizing: border-box;
    width: 180px; 
    height: 236px; 
    padding-left: 180px; 
}

.lol-uikit-dialog-frame.top, .lol-uikit-dialog-frame.bottom {

    broder: 2px white solid;

}

/* Icons */

.currency-be-icon-static {

    background-image: ulr('https://thicc-thighs.de/stuff/mow.jpg');    

}

.currency-rp {

    background-image: ulr('https://thicc-thighs.de/stuff/mow.jpg');    

}

.ticker-button {

	background-image: url(https://stickfab.github.io/pc-fluenticons/assets/24/info.svg) !important;
	filter: invert(76%) sepia(69%) saturate(2337%) hue-rotate(345deg) brightness(99%) contrast(97%);
    transition: all 0.2s ease-in-out;

}

.ticker-button:hover {

    background-image: url(https://stickfab.github.io/pc-fluenticons/assets/24/info.svg) !important;
    filter: invert(76%) sepia(69%) saturate(2337%) hue-rotate(345deg) brightness(99%) contrast(97%) !important;
    size: 102%;


}

.navigation-status-ticker {

        transition: all 0.2s ease-in-out;
            size: 102%;
}

