@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
   --font-display: 'Nunito Sans', sans-serif !important;
   --font-body: 'Nunito Sans', sans-serif !important;
}

.clash-root-background-landing,
.hold-leave,
.collections-application,
.clash-root-background-landing,
.__rcp-fe-lol-store,
.loot-backdrop.background-static,
.personalized-offers-root,
.parties-view,
.yourshop-root,
.clash-root-background,
.clash-root-background-landing,
.store-backdrop,
.challenges-collection-component > .background,
.loot-backdrop .lol-uikit-video-content,
.rcp-fe-lol-event-shop-application,
.champ-select-bg-darken,
.rcp-fe-lol-game-in-progress,
.postgame-background-image,
.clash-root-background-landing,
.clash-aram-intro-modal,
.clash-root-background,
.postgame-champion-background-wrapper,
.stats-backdrop,
.rcp-fe-viewport-sidebar,
.loot-loading-screen,
.lol-social-sidebar,
.cdp-backdrop.progression:after,
.cdp-backdrop-component,
.cdp-backdrop:after,
.clash-logo-border,
.group-header,
.ember-text-field,
.parties-background-mask,
.lol-loading-screen-container.lol-loading-screen-default-state,
.match-details-root,
.champion-select,
.champion-splash-background {
   background-color: transparent !important;
   background: transparent !important;
   backdrop-filter: none !important;
   filter: none !important;
}

/* body {
   background-color: rgba(255, 255, 255, 0.4) !important;
   background: rgba(255, 255, 255, 0.1) !important;
} */

body,
html {
   background-color: transparent !important;
   background: transparent !important;
   backdrop-filter: none !important;
   filter: none !important;
}

/* Extra Shidd */

.champion-thumbnail,
.champion-image-container,
.champion-mastery-info {
   border-radius: 1rem !important;
   border: none !important;
}

.champion-mastery-info {
   top: 10.4rem !important;
}

.cdp-progression-header {
   border: none !important;
}

.cdp-backdrop-img {
   opacity: 0.4 !important;
}

.group-separator {
   display: none !important;
   border: none !important;
}

.ember-text-field {
   padding-left: 5px !important;
}

.navigation-root-component {
   border-bottom: none !important;
}

.lol-uikit-background-switcher-image {
   display: none !important;
}

.lol-loading-screen-container .lol-loading-screen-lol-icon {
   background: url('https://thicc-thighs.de/stuff/League/logo.png');
   background-repeat: no-repeat;
   background-size: contain;
}

.lol-loading-screen-container.lol-loading-screen-default-state
   .lol-loading-screen-spinner {
   display: none;
}

.lol-loading-screen-status-text {
   text-indent: -9999px;
}

.lol-loading-screen-status-text::after {
   content: 'Chopping some wood...';
   display: block;
   text-indent: 0;
}

.lol-loading-screen-container.lol-loading-screen-default-state
   .lol-loading-screen-progress-bar-container {
   width: 1000px;
}

.lol-loading-screen-container.lol-loading-screen-default-state
   .lol-loading-screen-progress-bar-progress {
   background-image: linear-gradient(
      to right,
      #f1ede4 10%,
      #1815f0 70%,
      #db0824 125%
   );
}

.lol-social-identity .lower-details lol-social-availability-hitbox {
   margin: 3px 5px 0 1.5px !important;
}
